html{
    scroll-snap-type: y mandatory;
}
section {
    scroll-snap-align: start;
    scroll-snap-stop: always;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-first-page{
    background-color: red;
    height: 100vh;   
}
.main-second-page{
    background-color: orange;
    height: 100vh;   
}
.main-third-page{
    background-color: yellow;
    height: 100vh;   
}
.main-third-page * {
    margin-top: 30px;
}
.main-third-image{
    height: 500px;
    border-radius: 20px;
}
.main-third-head{
    flex:none;
}
.main-fouth-page{
    background-color: green;
    height: 100vh;  
}
.main-fifth-page{
    background-color: rgb(100, 100, 255);
    height: 100vh;   
}
.main-fifth-page * {
    margin-top: 30px;
}
.main-fifth-image{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background: url(/image/main-fifth-page.svg) no-repeat center/cover;
}
